div.row.justify-content-between.mb-5.pb-3 {
    margin: 0px -15px 8px !important;
};
section.ftco-section {
    padding: 20px 0px !important;
}
.width {
    width: 100% !important;
}
div.col-md-12.d-flex.align-items-center {
    width: 100% !important;
}
.tab-content {
    width: inherit !important;
}
.nav-pills {
    padding: 50px 0px 10px 10px !important;
}
